# furo @ git+https://github.com/frogcjn/torchquantum-doc-furo-theme.git
dill==0.3.4
matplotlib>=3.3.2
nbsphinx
numpy>=1.19.2

opt_einsum
pathos>=0.2.7
pylatexenc>=2.10
pyscf>=2.0.1
qiskit==1.4.3
recommonmark
qiskit_ibm_runtime
qiskit-aer

scipy>=1.5.2
setuptools>=52.0.0
tensorflow>=2.4.1
torch>=1.8.0
torchdiffeq>=0.2.3
torchpack>=0.3.0
torchquantum>=0.1
torchvision>=0.9.0.dev20210130
tqdm>=4.56.0